
.header {
  background: linear-gradient(to right, #a9c9d8, #91b9d2); /* blue gradient */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  color: #000000;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  height: 50px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #0a66c2;
  border-color: #0a66c2
}
