.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background: linear-gradient(to right, #003973, #e5e5be);
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* .logo {
  height: 45px;
  width: 45px;
  object-fit: contain;
} */

.logo {
  height: 45px;
  object-fit: contain;
}



.header-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.center-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.portal-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}
